# module.cfg для команды bayesian_agent
# Переопределяем дефолтные классы коммуникации, захардкоженные
# в Platoon.postConnect() со старыми именами пакетов.

# Правильные имена классов в adf-core-java 4.0.0
MessageManager.PlatoonChannelSubscriber   : adf.impl.module.comm.DefaultChannelSubscriber
MessageManager.PlatoonMessageCoordinator  : adf.impl.module.comm.DefaultMessageCoordinator
MessageManager.CenterChannelSubscriber    : adf.impl.module.comm.DefaultChannelSubscriber
MessageManager.CenterMessageCoordinator   : adf.impl.module.comm.DefaultMessageCoordinator

# PathPlanning
SampleSearch.PathPlanning.Ambulance  : adf.impl.module.algorithm.DijkstraPathPlanning
SampleSearch.PathPlanning.Fire       : adf.impl.module.algorithm.DijkstraPathPlanning
SampleSearch.PathPlanning.Police     : adf.impl.module.algorithm.DijkstraPathPlanning
ActionExtClear.PathPlanning          : adf.impl.module.algorithm.DijkstraPathPlanning
ActionExtMove.PathPlanning           : adf.impl.module.algorithm.DijkstraPathPlanning
ActionFireFighting.PathPlanning      : adf.impl.module.algorithm.DijkstraPathPlanning
ActionTransport.PathPlanning         : adf.impl.module.algorithm.DijkstraPathPlanning
